.change-image {
    margin: 50px auto;
    text-align: center;
  }
  
  .change-image img {
    max-width: 500px;
    max-height: 500px;
    margin-bottom: 20px;
  }
  
  .change-image button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  